.feedback {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}

.feedback__form {
  background-color: $color-sapphire;
  padding: 56px 170px 70px 30px;

  @include vp-1199 {
    padding: 61px 0 70px;
  }
}

.feedback__contacts {
  border-top: 1px solid #74819C;
  padding: 45px 50px 62px 120px;

  @include vp-1199 {
    padding: 58px 0 63px;
  }

  @include vp-767 {
    padding: 56px 0 62px;
  }
}
