.intro {
  position: relative;
  max-width: 1366px;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 120px 103px 222px 163px;

  @include vp-1199 {
    flex-direction: column;
    padding: 62px 45px 183px;
  }

  @include vp-767 {
    padding: 64px 0 70px;
  }
}

.intro__wrapper {
  padding: 39px 0 44px;

  @include vp-767 {
    padding: 0 15px 34px;
  }
}

.intro h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0;
  margin-bottom: 6px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 0;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    text-align: start;
    margin-bottom: 4px;
  }
}

.intro p {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-sapphire;
  margin: 0;

  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    text-align: start;
  }
}

.intro__descriptions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 355px;
  margin-top: 40px;

  @include vp-1199 {
    max-width: none;
    margin-top: 34px;
    padding: 0 52px;
  }

  @include vp-767 {
    margin-top: 24px;
    padding: 0;
  }
}

.intro__descriptions p {
  font-family: $ff-roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $color-sapphire;

  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    text-align: start;
    padding-right: 30px;
  }
}

.intro__hidden {
  @include vp-1199 {
    display: none;
  }
}

.intro picture {
  @include vp-1199 {
    width: 100%;
  }
}

.intro img {
  object-fit: cover;

  @include vp-1199 {
    width: 100%;
    height: 345px;
  }

  @include vp-767 {
    height: 313px;
  }
}

.intro__video {
  position: absolute;
  width: 364px;
  height: 228px;
  bottom: 120px;
  left: 50%;
  transform: translate(-39%);
  background-color: $color-dark-cerulean-transparent;

  @include vp-1199 {
    width: 266px;
    height: 167px;
    bottom: 100px;
    left: 46%;
  }

  @include vp-767 {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    margin-top: 40px;
  }
}

.intro__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__video picture {
  position: relative;
  z-index: -1;

  @include vp-1199 {
    width: 228px;
    height: 167px;
  }

  @include vp-767 {
    display: block;
    width: 100%;
  }
}

.intro__video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__video button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  padding: 14px;
  border: none;
  border-radius: 50%;
  background: $red-to-blue-diagonal-back;

  @include vp-1199 {
    width: 52px;
    height: 52px;
  }
}

.intro__video button::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  border-radius: 50%;
  border: 2px solid rgba(#003eb7, 0.2);
  background: linear-gradient(rgba($color-torch-red, 0.2), rgba($color-sapphire, 0.2));
  mask: linear-gradient($color-default-white 0 0) padding-box, linear-gradient($color-default-white 0 0);
  mask-composite: exclude;

  @include vp-1199 {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}

.intro__video button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 53%;
  width: 13px;
  height: 15px;
  transform: translate(-50%, -50%);
  background-color: $color-default-white;
  clip-path: polygon(0 0, 100% 50%, 0 100%);

  @include vp-1199 {
    left: 51%;
    width: 10px;
    height: 12px;
  }
}

.intro__video button:hover,
.intro__video button:active {
  background: $red-to-blue-diagonal;
}

.intro__video button:hover::after,
.intro__video button:focus::after {
  background-color: $color-light-slate-grey;
}
