.trainer-card {
  position: relative;
  overflow: hidden;
  max-width: 260px;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.trainer-card__info {
  height: 100%;
  text-align: center;
  transform: translateY(100%);
  transition: 0.5s;
  padding: 58px 46px 58px 45px;
}

.trainer-card__info h3 {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  margin: 0;
  transform: translateY(-100px);
  transition: 0.5s;
}

.trainer-card__info p {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-spindle;
  margin: 0;
}

.trainer-card__info ul {
  padding: 0;
}

.trainer-card__info li {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
  text-align: left;
  margin: 0;
}

.trainer-card__info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(16, 38, 84, 0.89);
}

.trainer-card:hover {
  .trainer-card__info {
    transform: translateY(0);
  }

  .trainer-card__info h3 {
    transform: translateY(0);
  }
}
